/**

white: #D3D3D3
linkblue: #20A4F3

**/

body {
    background-color: black;
    color: #D3D3D3;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

* {
    cursor: url(%%cursor%%), default!important;
}

#header {
    background-color: black;
    background: url(%%Banner%%) no-repeat;
    background-size: auto;
}

#header-bottom-left {
    height: 100px;
    padding-top: 180px;
}

.redditname a {
    color: #D3D3D3;
    font-size: 120%;
}

#header-bottom-left .redditname a {
    color: #D3D3D3;
    font-size: 200%;
}

.side {
    background-color: #424242;
    padding: 1px;
}

.side .redditname a {
    color: black;
}

.flair-yellowandblack {
    color: yellow;
    background: black;
}

#header .tabmenu li a {
    color: #000;
    background-color: #D3D3D3;
}

#header .tabmenu li.selected a {
    color: #FFB100;
    background-color: #D3D3D3;
}

#header .tabmenu li a:hover {
    color: #FFB100;
    background-color: #D3D3D3;
}

h1.hover.redditname {
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

#preview_link_normal {
    border: 1px solid #5815E8;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1px;
}

#preview_link_normal:hover,
#preview_link_compressed:hover,
#preview_link_media:hover {
    border: 1px solid #8a5bee;
}

#preview_link_compressed {
    border: 1px solid #5815E8;
    margin-top: 1px;
    margin-bottom: 1px;
}

#preview_link_media {
    border: 1px solid #5815E8;
    margin-top: 1px;
    margin-bottom: 1px;
}

#preview_link_stickied {
    border: 1px solid #FF4CAA;
    margin-top: 1px;
    margin-bottom: 1px;
}

#preview_link_stickied:hover {
    border: 1px solid #ff81c3;
}

#preview_comment {
    border: 1px solid #FFBC0F;
    margin-top: 1px;
    margin-bottom: 1px;
}

#preview_comment:hover {
    border: 1px solid #ffd057;
}

#preview_comment li {
    color: #D3D3D3;
}

#preview_comment_gilded {
    border: 1px solid #FF6200;
    margin-top: 1px;
    margin-bottom: 1px;
}

#preview_comment_gilded:hover {
    border: 1px solid #ff8132;
}

#preview_comment_gilded li {
    color: #D3D3D3;
}

.title.may-blank.loggedin {
    color: #20A4F3;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.title .may-blank a:visited {
    color: blue;
}

.title.may-blank a:hover {
    color: 7DF9FF;
}

.flat-list.buttons li a {
    color: #D3D3D3;
}

.midcol {
    display: none;
}

.midcol.likes {
    display: none;
}

.rank {
    display: none;
}

.md p {
    color: #D3D3D3
}

.md a {
    color: #20A4F3;
}

.leavemoderator {
    background-color: #424242;
    color: #D3D3D3;
}

.leavemoderator a {
    color: #20A4F3
}

.titlebox strong {
    color: #FFBC0F;
}

form.toggle.flairtoggle {
    background-color: #424242
}

form.toggle.flairtoggle label {
    color: #D3D3D3;
}

.icon-menu a {
    background-color: #424242;
    color: #20A4F3;
}

.tagline a {
    color: #20A4F3;
}

.bottom a {
    color: #20A4F3;
}

.bottom {
    color: #D3D3D3;
}

.sidecontentbox .title h1 {
    color: #FF4CAA;
}

.sidecontentbox a {
    color: #20A4F3;
}

.sidecontentbox .content li a {
    color: #20A4F3;
}

.account-activity-box a {
    color: #20A4F3;
}

div.side {
    border: 2px;
    border-style: solid;
    border-color: #246699;
}

div.side hr {
    border: 1px;
    border-style: solid;
    border-color: orange;
}

a.author {
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #20a4f3;
}

span.flairrichtext.flaircolorlight.flair {
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

span.flairrichtext.flaircolorlight.linkflairlabel {
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
    background-color: #83e095;
}

#preview_comment_gilded a,
#preview_comment a:active {
    font-family: monaco, Consolas, Lucida Console, monospace;
}

#preview_comment a:hover,
#preview_comment_gilded a:hover {
    color: #69c2f7;
}

div.side h1 {
    font-family: Rockwell Extra Bold, Rockwell Bold, monospace;
}

div.expando-button.collapsed.hide-when-pinned.selftext:hover {
    background-color: #4d9cd6;
    padding: 1px;
    border-radius: 5px;
}

div.expando-button.collapsed.hide-when-pinned.selftext {
    background-color: #F7FFFE;
    padding: 1px;
    border-radius: 5px;
}

#preview_comment_gilded a.author.may-blank,
#preview_comment a.author.may-blank {
    color: #defe47;
}

a.expand {
    color: #65dc98;
}

a.expand:hover {
    color: #B2EDCB;
}

p.tagline {
    color: #defe47;
}

#header-bottom-right {
    text-transform: uppercase;
    right: 5px;
    bottom: 0px;
    padding: 4px;
    background-color: transparent;
    height: 50px;
    background: url(%%before%%) 45px 20px/150px no-repeat;
    background-size: 80% 50%;
    position: absolute;
}

#header-bottom-right:hover {
    text-transform: uppercase;
    right: 5px;
    bottom: 0px;
    padding: 4px;
    background-color: transparent;
    height: 50px;
    background: url(%%after%%) 45px 20px/150px no-repeat;
    background-size: 70%;
    position: absolute;
}

#header-bottom-right a {
    color: #65dc98;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

#header-bottom-right a:hover {
    color: #c4ffff;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

span.separator {
    color: #4d9e9b;
    padding: 5px;
}


/**Mail and Preferences. If you remove up to next quote, it will go back to normal.**/

#new_modmail.nohavemail:before {
    background-position: -62px 0;
}

#new_modmail.nohavemail:before,
#new_modmail.nohavemail:after,
#new_modmail.havemail:before,
#new_modmail.havemail:after {
    width: 14px;
}

#mail.nohavemail:before,
#mail.havemail:before,
#chat:not(.active):before,
#chat.active:before,
#modmail.nohavemail:before,
#modmail.havemail:before,
#new_modmail.nohavemail:before,
#new_modmail.havemail:before,
.pref-lang:before,
#header .gearIcon:before,
.logout a:before {
    content: "";
    display: block;
    height: 16px;
    background: url(%%icon%%) top left / 92px;
}

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

#new_modmail.nohavemail:after {
    background-position: -62px -17px;
}

#new_modmail.nohavemail:before,
#new_modmail.nohavemail:after,
#new_modmail.havemail:before,
#new_modmail.havemail:after {
    width: 14px;
}

#mail.nohavemail:after,
#mail.havemail:after,
#chat:not(.active):after,
#chat.active:after,
#modmail.nohavemail:after,
#modmail.havemail:after,
#new_modmail.nohavemail:after,
#new_modmail.havemail:after,
.pref-lang:after,
#header .gearIcon:after,
.logout a:after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    margin: -16px 0 0 0;
    background: url(%%icon%%) top left / 92px;
    opacity: 0;
    transition: opacity 0.25s;
}


/**End of Mail stuff. Remove to see effects of it not being there.**/

ul.flat-list.buttons a {
    color: #20A4F3;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

ul.flat-list.buttons a:hover {
    color: #69c2f7;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

a.give-gold.login-required.access-required.gold-give-gold:hover {
    color: #ffd700;
}

a.choice:hover {
    color: #69c2f7;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

a.choice,
a.buygold.choice {
    font-family: monaco, Consolas, Lucida Console, monospace;
}

a.buygold.choice:hover {
    color: #ffd700;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

li.flat-vert.title {
    color: #ff184c;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.footer {
    border-style: groove;
    border: 1px solid #af43be;
}

.footer .col {
    border-left: 1px solid #65dc98;
}

p.bottommenu,
p.bottommenu a {
    color: #ffd700;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

p.bottommenu a:hover {
    color: #65dc98;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.sidecontentbox .content,
.titlebox .bottom {
    border: 1px solid #598fc2;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.gadget .reddit-link-title.may-blank {
    color: #65dc98;
}

.md {
    color: #fff69f;
}